body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: burlywood;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    margin-right: 10%;
  }
  
  .logo img {
    width: 50px; 
    height: auto;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 50px; 
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    font-size: larger;
  }
  
  /* home 1*/

.home-section {
    height: 100vh;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }
  
  .home-content {
    width: 70%;
    margin: 0 auto;
    text-align: left;
  }
  
  .text-content h1 {
    color: white; 
    font-size: 40px;
    line-height: 1.5;
    max-width: 400px;
    font-family: 'Crimson Text', serif;
  }
  .text-content p{
    color: white;
    margin-left: 30%
  }



  /* home 2*/
.history-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 33, 33);
  }
  
  .history-content h1 {
    font-size: 36px;
    text-align: center;
    color: white; 
    font-family: 'Crimson Text', serif;
    font-size: 60px;
  }
 
  
  .history-content {
    flex: 1;
    height: auto; 
    background-color: rgb(80, 33, 33);
    margin-right: 10px; 
    box-sizing: border-box;
  }
  /* Flexbox styling for three columns */

 .history-column {
    display: flex;
    justify-content: space-between; 
    margin: 10px;
  }
  
  .history-column {
    flex: 1;
    height: 400px; 
    margin-right: 10px; 
    box-sizing: border-box;
  }
 
  #column1{
    background-color: burlywood;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 10px 5px 5px;
  }
  #column2 {
    background-color: burlywood;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 10px 5px 5px;
  }
  
  #column3 {
    background-color: burlywood;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 10px 5px 5px;
  }


  /* Home 3 */
  .rules-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:burlywood;
    background-image: url('../images/home-rules.png');
  }
  
  .rules-content h1 {
    font-size: 36px;
    text-align: center;
    color: white; 
    font-family: 'Crimson Text', serif;
    font-size: 60px;
  }

  .rules-column {
    display: flex;
    justify-content: space-between; 
    margin: 10px;
  }
  
  .rules-column {
    flex: 1;
    height: 400px; 
    margin-right: 10px; 
    box-sizing: border-box;
  }
 
  #rules-column1{
    background-color:  bisque;
    text-align: center;
    border-radius: 16px;
    padding: auto;
    margin-left: 3px;
    margin-right: 3px;
  }
  #rules-column1:hover{
    background-color: wheat;
    text-align: center;
    border-radius: 16px;
    padding: auto;
    margin-left: 3px;
    margin-right: 3px;
    transform: scale(1.03);
  }
  #rules-column2 {
    background-color: bisque;
    text-align: center;
    border-radius: 16px;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  #rules-column3 {
    background-color:  bisque;
    text-align: center;
    border-radius: 16px;
    padding: auto;
    margin-left: 3px;
    margin-right: 3px;
  }
  #rules-column4 {
    background-color: bisque;
    text-align: center;
    border-radius: 16px;
    padding: auto;
    margin-left: 3px;
    margin-right: 3px;
  }
  #rules-column5 {
    background-color:  bisque;
    text-align: center;
    border-radius: 16px;
    padding: auto;
    margin-left: 3px;
    margin-right: 3px;
  }







  /* parallax*/
  /* Your existing CSS styles for parallax sections, arrows, etc. */

footer{
  background-color: antiquewhite;
  text-align: center;
  margin-bottom: 20px;
}